services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: automation-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  producer:
    build:
      context: .
      dockerfile: apps/producer-service/Dockerfile
    container_name: automation-producer
    ports:
      - "3000:3000"
    volumes:
      - ./playwright-report:/app/apps/producer-service/results
    environment:
      - PORT=3000
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
      - MONGO_URI=${MONGO_URI}
      - MONGODB_URL=${MONGO_URI}
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-network

  worker:
    build:
      context: .
      dockerfile: apps/worker-service/Dockerfile
    container_name: automation-worker
    ipc: host
    environment:
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
      - MONGO_URI=${MONGO_URI}
      - MONGODB_URL=${MONGO_URI}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - BASE_URL=${BASE_URL}
      - ADMIN_USER=${ADMIN_USER}
      - ADMIN_PASS=${ADMIN_PASS}
      - CI=true
    volumes:
      - ./playwright-report:/app/playwright-report
      - ./test-results:/app/test-results
    depends_on:
      rabbitmq:
        condition: service_healthy
      producer:
        condition: service_started
    networks:
      - app-network

  dashboard:
    build:
      context: .
      dockerfile: apps/dashboard-client/Dockerfile
    container_name: automation-dashboard
    ports:
      - "8080:80"
    depends_on:
      - producer
    networks:
      - app-network

networks:
  app-network:
    driver: bridge