services:
  producer:
    build:
      context: .
      dockerfile: apps/producer-service/Dockerfile
    volumes:
      - test_results:/app/apps/producer-service/results
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - MONGODB_URL=${MONGO_URI}
      - MONGO_URI=${MONGO_URI}
    depends_on:
      - rabbitmq
      - mongo
    networks:
      - app-network

  worker:
    build:
      context: .
      dockerfile: apps/worker-service/Dockerfile
    volumes:
      - test_results:/app/apps/worker-service/test-results
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - MONGODB_URL=${MONGO_URI}
      - MONGO_URI=${MONGO_URI}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - BASE_URL=${BASE_URL}
      - ADMIN_USER=${ADMIN_USER}
      - ADMIN_PASS=${ADMIN_PASS}
      - CI=true
    depends_on:
      - rabbitmq
      - mongo
      - producer
    networks:
      - app-network

  dashboard:
    build:
      context: .
      dockerfile: apps/dashboard-client/Dockerfile
    depends_on:
      - producer
    networks:
      - app-network

  npm:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    volumes:
      - ./npm-data:/data
      - ./npm-letsencrypt:/etc/letsencrypt
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    expose:
      - "5672"
      - "15672"
    networks:
      - app-network

  mongo:
    image: mongo:6.0
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:
  test_results:
