version: '3.8'

services:
  producer:
    image: keinar101/producer-service:latest
    volumes:
      - test_results:/app/apps/producer-service/results
    ports:
      - "3000:3000"
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - MONGODB_URL=mongodb://mongo:27017/executions_db
      - MONGO_URI=mongodb://mongo:27017/executions_db
    depends_on:
      - rabbitmq
      - mongo
    networks:
      - app-network

  worker:
    image: keinar101/worker-service:latest
    volumes:
      - test_results:/app/apps/worker-service/test-results
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - MONGODB_URL=mongodb://mongo:27017/executions_db
      - MONGO_URI=${MONGO_URI}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - BASE_URL=${BASE_URL}
      - ADMIN_USER=${ADMIN_USER}
      - ADMIN_PASS=${ADMIN_PASS}
      - CI=true
    depends_on:
      - rabbitmq
      - mongo
      - producer
    networks:
      - app-network

  dashboard:
    image: keinar101/dashboard-client:latest
    ports:
      - "8080:80"
    depends_on:
      - producer
    networks:
      - app-network
  
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:
  test_results: